RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . _rewrite.php [env=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

<IfModule mod_headers.c>
  Header always set Access-Control-Allow-Origin "*"
</IfModule>
